@import 'src/assets/style/variables';

.input {
  display: flex;
  flex-direction: column;
  margin: 10px;

  label {
    font-size: 0.875rem;
  }

  input {
    border: 1px solid $template-border;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    outline: none;
    color: $base-grey;
  }
}
